<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>secret key add</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="/static/super_cmdb/css/font.css">
    <link rel="stylesheet" href="/static/super_cmdb/css/xadmin.css">

  </head>
  
  <body>
    <div class="x-body">
        <form class="layui-form">
          <div class="layui-form-item">
              <label for="login_user" class="layui-form-label">
                  <span class="x-red">*</span>登陆用户
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="login_user" name="login_user" required="" lay-verify="required"
                  autocomplete="off"  class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="key" class="layui-form-label">
                  <span class="x-red">*</span>密钥
              </label>
              <div class="layui-input-inline">
{#                  <input type="text" style="width: 1300px;height: 50px" id="key" name="key" required="" lay-verify="key"#}
{#                            autocomplete="off" class="layui-input">#}
                  <textarea id="key" name="key" style="margin: 0px;width: 765px;height: 318px;"></textarea>
              </div>
          </div>
          <div class="layui-form-mid layui-word-aux">
              <span class="layui-form-label x-red"></span>密钥支持RSAKey,DSSKey,ECDSAKey,Ed25519Key四种格式密钥【使用密码登陆方式时，可不填】
          </div>

          <div class="layui-form-item">
              <label for="key_password" class="layui-form-label">
                  <span class="x-red">*</span>密码
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="key_password" name="key_password" required="" lay-verify="key_password"
                  autocomplete="off" class="layui-input">
              </div>
              <div class="layui-form-mid layui-word-aux">
                  <span class="x-red">*</span>【已弃用，勿填】已加密，填写时用明文密码即可
              </div>
          </div>


          <div class="layui-form-item">
              <label for="auth_type_id" class="layui-form-label">
                  <span class="x-red">*</span>认证类型
              </label>
              <div class="layui-input-inline" id="my_select">
                  <select id="auth_type_id" name="auth_type_id">
                        {% for auth_type in auth_type_list %}
                            <option value="{{ auth_type.id }}">{{ auth_type.auth_type }}</option>
                        {% endfor %}
                  </select>
              </div>
          </div>

          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
              </label>
              <button  class="layui-btn" lay-filter="add" lay-submit="">
                  添加
              </button>
          </div>
      </form>
    </div>
    <script type="text/javascript" src="/static/super_cmdb/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/super_cmdb/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/super_cmdb/js/xadmin.js"></script>
    <script type="text/javascript" src="/static/super_cmdb/js/jquery.cookie.js"></script>
        <script>

        $(function () {
            $.ajaxSetup({
                beforeSend:function (xhr,settings) {
                    xhr.setRequestHeader("X-CSRFtoken",$.cookie("csrftoken"));
                }
            })
        });

      layui.use(['form','layer'], function(){
          $ = layui.jquery;
        var form = layui.form
        ,layer = layui.layer;

        //监听提交
        form.on('submit(add)', function(data){
          console.log(data);
          //发异步，把数据提交给php
            $.ajax({
                    url: "/super_cmdb/secret_key_add/",
                    type: "POST",
                    //data: $('#layui-form').serialize(),
                    data: {
                        "login_user":$("#login_user").val(),
                        "auth_type_id":$("#auth_type_id").val(),
                        "key":$("#key").val()
                        },
                    success: function (data) {
                        //console.log(data);
                    }
                });

          layer.alert("添加成功", {icon: 6},function () {
              // 获得frame索引
              var index = parent.layer.getFrameIndex(window.name);
              //关闭当前frame
              parent.layer.close(index);
          });
          return false;
        });
      });

  </script>
  </body>

</html>