<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>监控历史</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="/static/super_cmdb/css/font.css">
    <link rel="stylesheet" href="/static/super_cmdb/css/xadmin.css">

  </head>
  
  <body>
    <div class="x-nav">
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:38px">ဂ</i></a>
    </div>
    <div class="x-body">
      <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so" action="/super_monitor/monitor_history/" method="post">
          {% csrf_token %}
          <input class="layui-input" placeholder="ip" name="ip">
          <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">过滤</i></button>
        </form>
      </div>
      <xblock>
        <span class="x-right" style="line-height:40px">共有数据：{{ monitor_lists.count }} 条</span>
      </xblock>
      <table class="layui-table">
        <thead>
          <tr>
            <th>
              <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>
            <th>ID</th>
            <th>ip地址</th>
            <th>cpu使用率(%)</th>
            <th>总内存(M)</th>
            <th>内存使用率(%)</th>
            <th>可用内存(M)</th>
            <th>时间</th>
            <th>操作</th>
        </thead>
        <tbody>
          {% for monitor_info in monitor_lists %}
              <tr>
                  <td>
                      <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='{{ host_info.id }}'><i class="layui-icon">&#xe605;</i></div>
                  </td>

                    <td>{{ monitor_info.id }}</td>
                    <td>{{ monitor_info.ip }}</td>
                    <td>{{ monitor_info.cpu_percent }}</td>
                    <td>{{ monitor_info.memory_total }}</td>
                    <td>{{ monitor_info.memory_percent }}</td>
                    <td>{{ monitor_info.memory_available }}</td>
                    <td>{{ monitor_info.create_time|date:"Y-m-d H:i:s"}}</td>
                    <td>
                      <a title="ssh登陆" href="" target="_blank">
                        <i class="iconfont">&#xe6da;</i>
                      </a>
                      <a title="编辑"  onclick="x_admin_show('编辑','',600,400)" href="javascript:;">
                        <i class="layui-icon">&#xe642;</i>
                      </a>
                      <a title="删除" onclick="member_del(this,'')" href="javascript:;">
                        <i class="layui-icon">&#xe640;</i>
                      </a>
                    </td>
              </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="page">
        {% for page_str in page_list %}
            {{ page_str|safe }}
        {% endfor %}
      </div>

    </div>
    <script type="text/javascript" src="/static/super_cmdb/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/super_cmdb/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/super_cmdb/js/xadmin.js"></script>
    <script src="/static/super_cmdb/js/jquery.min.js"></script>
    <script src="/static/super_cmdb/js/jquery.cookie.js"></script>
    <script src="/static/super_cmdb/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/super_cmdb/js/jquery.cookie.js"></script>

    <script>

        $(function () {
            $.ajaxSetup({
                beforeSend:function (xhr,settings) {
                    xhr.setRequestHeader("X-CSRFtoken",$.cookie("csrftoken"));
                }
            })
        });

        $(function () {
               var v = $.cookie("per_page_count");
               console.log(v)
               $("#pg").val(v);
        });
        function changePageSize(ths) {
            var current_page = $(ths).val();
            console.log(current_page);
            $.cookie("per_page_count", current_page);
            location.reload();
        }

       /*用户-停用*/
      function member_stop(obj,id){
          layer.confirm('确认要停用吗？',function(index){

              if($(obj).attr('title')=='启用'){

                //发异步把用户状态进行更改
                $(obj).attr('title','停用')
                $(obj).find('i').html('&#xe62f;');

                $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
                layer.msg('已停用!',{icon: 5,time:1000});

              }else{
                $(obj).attr('title','启用')
                $(obj).find('i').html('&#xe601;');

                $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
                layer.msg('已启用!',{icon: 5,time:1000});
              }
              
          });
      }

      /*用户-删除*/
      function member_del(obj,id){
          layer.confirm('确认要删除吗？',function(index){
              //发异步删除数据
              var url = "";
              //console.log(url);
              $.ajax({
                    url: url,
                    type: "POST",
                    //data: $('#layui-form').serialize(),
                    data: {"host_id":id},
                    success: function (data) {
                        //console.log(data);
                    }
                });
              $(obj).parents("tr").remove();
              layer.msg('已删除!',{icon:1,time:1000});
          });
      }



      function delAll (argument) {

        var data = tableCheck.getData();

        layer.confirm('确认要删除选中项吗？'+data,function(index){
            //捉到所有被选中的，发异步进行删除
            var url = "";
              $.ajax({
                    url: url,
                    type: "POST",
                    //data: $('#layui-form').serialize(),
                    data: {"host_id":JSON.stringify(data)}, //将data转换成字符串才能提交到后端
                    success: function (data) {
                        //console.log(data);
                    }
                });
            layer.msg('删除成功', {icon: 1});
            $(".layui-form-checked").not('.header').parents('tr').remove();
        });
      }
    </script>
  </body>

</html>